.field input[type=date]{
	width: 40%;
	margin-bottom: 60px;
}

.cabecalho {
	padding: 80;
    width: inherit;
    background: rgb(6,117,157);
background: linear-gradient(130deg, rgba(6,117,157,1) 2%, rgba(4,73,98,1) 57%, rgba(2,43,58,1) 97%);
    margin: -40;
	border-radius: 10px 10px 0 0;
}

.infocab {
	margin-top: -140px;
	color: #F5F5F5;
}

hr {
	margin: 40px;
}

.fieldtempo label {
	font-weight: bold;
}


.items {
    width: 100%;
    text-align: left;
    display: flex;
}

.item {
    width: 50%;
}

.item:first-child {
    margin-right: 5%;
}


.btnAvancar {
    height: 50px;
	width: 150px;
    background: #34CB79;
    border-radius: 8px;
    color: #FFF;
    border: 0;
    transition: background-color 0.2s;
    margin-top: 50px;
    font-size: 14px;
    padding: 0 30;
    float: right;
	margin-right: 10px;
}

.btnCancelar {
    height: 50px;
    width: 120px;
    background: #f4f4f4;
    border: 1px solid #34CB79;
    border-radius: 8px;
    color: #34CB79;
    transition: background-color 0.2s;
    margin-top: 50px;
    font-size: 14px;
    float: left;
}

.isHidden {
    display: none;
}
