#page-medicoes {
    height: 100%;
    background: #e2eafc;
    font-family: 'Source Sans Pro', sans-serif;
}

.cabecalho {
    text-align: right;
    margin-bottom: 100px;
}

.titulo {
    text-align: left;
    margin-bottom: 50px;
}

.medicao {
    padding:30px 10px 60px 10px;
    background: #FAFAFA;
    border-radius: 8px;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    box-shadow: 0px 5px 20px 5px rgba(68, 68, 68, 0.65);
}

.medicao h3 {
    font-family: 'Archivo Narrow', sans-serif;
}

.medicao img {
    width: 50px;
    height: 50px;
}

.medicao .btnCriar {
    height: 50px;
    background: #34CB79;
    border-radius: 8px;
    color: #FFF;
    border: 0;
    transition: background-color 0.2s;
    margin-top: 50px;
    font-size: 14px;
}

.medicao .btnEditar {
    height: 50px;
    background: #f4f4f4;
    border: 1px solid #34CB79;
    border-radius: 8px;
    color: #34CB79;
    transition: background-color 0.2s;
    margin-top: 50px;
    font-size: 14px;
}

table {
    width: 100%;
    border-spacing: 10;
}

table tr {
    margin-bottom: 15px;
}

table tr td {
    background:rgba(68, 68, 68, 0.65);
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
}

table tr .data {
    justify-content: center;
    display: flex; 
    margin-left:25px;
    margin-right: 25px
}

table tr .porcentagem {
    width:10%;
    text-align: center;
}